<div class="card">
  <div class="card-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">UserName</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          formControlName="Username"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          formControlName="password"
        />
      </div>
      <div class="mb-3">
        <div class="captcha-code">
          <span>{{ captcha }}</span>
        </div>
        <input
          type="text"
          formControlName="userInput"
          placeholder="Enter CAPTCHA"
          (input)="onCaptchaInput()"
        />
        <button type="button" (click)="verifyCaptcha()">Verify</button>
        <div
          [ngClass]="{
            'error-message': !isCaptchaVerified,
            'success-message': isCaptchaVerified
          }"
        >
          {{ captchaMessage }}
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="loginForm.invalid || !isCaptchaVerified"
      >
        Login
      </button>
    </form>
  </div>
</div>
