<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Username</label>
    <input id="username" formControlName="username" type="text" />
  </div>
  <div>
    <label for="password">Password</label>
    <input id="password" formControlName="password" type="password" />
  </div>
  <div *ngIf="captchaSvg">
    <div [innerHTML]="captchaSvg"></div>
    <input formControlName="captchaText" placeholder="Enter CAPTCHA" />
  </div>
  <button type="submit">Login</button>
</form> -->
<!--
<div class="card">
  <div class="card-body">
    <div class="contact-form-container">
      <form [formGroup]="loginForm">
        <div class="form-group mb-3">
          <label>Title *</label>
          <input type="text" formControlName="title" />
        </div>

        <div class="form-group">
          <label>Your Name *</label>
          <input type="text" formControlName="name" />
        </div>

        <div class="form-group">
          <label>Phone</label>
          <input type="text" formControlName="phone" />
        </div>

        <div class="form-group">
          <re-captcha
            (resolved)="resolved($event)"
            siteKey="6LeHRDsfAAAAAOkNj6VcGBU8jcX1qjiMqV_jhXMf"
            formControlName="recaptcha"
          ></re-captcha>
        </div>

        <div class="form-group">
          <button type="button" [disabled]="loginForm.invalid">Send</button>
        </div>
      </form>
    </div>
  </div>
</div> -->
<!--ss
<div class="card">
  <div class="card-body">
    <form [formGroup]="loginForm">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">UserName</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          formControlName="Username"
        />

      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          formControlName="password"
        />
      </div>
      <div class="mb-3">
        <re-captcha
          (resolved)="resolved($event)"
          siteKey="6LeHRDsfAAAAAOkNj6VcGBU8jcX1qjiMqV_jhXMf"
          formControlName="recaptcha"
        ></re-captcha>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
  </div>
</div> -->

<!-- <div class="card">
  <div class="card-body">
    <form [formGroup]="loginForm">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">UserName</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          formControlName="Username"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          formControlName="password"
        />
      </div>
      <div class="mb-3">
        <div class="captcha-code">
          <span>{{ captcha }}</span>
        </div>
        <input
          type="text"
          formControlName="userInput"
          placeholder="Enter CAPTCHA"
        />
        <button (click)="verifyCaptcha()">Verify</button>
        <div class="error-message">{{ errorMessage }}</div>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
  </div>
</div> -->

<!-- <div class="captcha-container">
  <div class="captcha-code">
    <span>{{ captcha }}</span>
  </div>
  <input type="text" [(ngModel)]="userInput" placeholder="Enter CAPTCHA" />
  <button (click)="verifyCaptcha()">Verify</button>
  <div class="error-message">{{ errorMessage }}</div>
</div> -->

<div class="card">
  <div class="card-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">UserName</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          formControlName="Username"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          formControlName="password"
        />
      </div>
      <div class="mb-3">
        <div class="captcha-code">
          <span>{{ captcha }}</span>
        </div>
        <input
          type="text"
          formControlName="userInput"
          placeholder="Enter CAPTCHA"
          (input)="onCaptchaInput()"
        />
        <button type="button" (click)="verifyCaptcha()">Verify</button>
        <div
          [ngClass]="{
            'error-message': !isCaptchaVerified,
            'success-message': isCaptchaVerified
          }"
        >
          {{ captchaMessage }}
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="loginForm.invalid || !isCaptchaVerified"
      >
        Login
      </button>
    </form>
  </div>
</div>
